html {
	height: 100%;
	max-height: 100vh;
}

body {
	height: 100vh;
	background: #232526; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #414345, #232526);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #414345, #232526);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: grid;
	grid-template-rows: auto 1fr min-content;
	grid-template-areas: "header" "section" "footer";
	background: -webkit-linear-gradient(to bottom, #414345, #232526);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #414345, #232526);
	color: white;
	background-attachment: fixed;
}



header {
	grid-area: header;
}

#hideSelect {
	display: none;
}

#fullPageJumbo {
	height: 100%;
	width: 100%;
}

#products div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

#section {
	margin: 0px;
	grid-area: section;
	text-align: center;
}

#header img {
	width: auto;
	height: 25px;
}

#jumbotron, #insideJumbotron {
	height: 100%;
	padding: 0;
	margin: 0;
}

#knowMorePills {
	margin: 20px;
}

footer {
	grid-area: footer;
}

#video_background {
	background-color: black;
	position: absolute;
	bottom: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
	position: absolute;
}

#video_pattern {
	background: #fff;
	position: fixed;
	opacity: 0.8;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.container {
	color: white;
}

@media ( max-width : 800px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: flex;
	}
	.container * {
		padding: 0;
		margin: 0;
	}
}